.form {
    max-width: 700px;
    margin: 0 auto;
}

.form__fieldset {
    background-color: rgba(0, 0, 0, 0.700);
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
}

.form__legend {
    background-color: #e08e16;
    color: #fff;
    padding: 7px;
    border-radius: 10px;
    font-weight: 700;
}

.form__labelText {
    display: inline-block;
    max-width: 200px;
    width: 100%;
}

.form__field {
    max-width: 200px;
    width: 100%;
    padding: 7px;
}